body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    background-color: #000000;
    color: #ffffff;
}

form{
    background-color: #000000;
    color: #ffffff;
}



